<!--The content below is only a placeholder and can be replaced.-->
  <!--<h1>{{ title }}!</h1>-->
<!--<router-outlet></router-outlet>-->
<!--<app-heroes></app-heroes>-->
<!--<app-user-form></app-user-form>-->
<!--<app-reactive-form></app-reactive-form>-->
<!--<app-to-do-list></app-to-do-list>-->
<!--<app-second-list></app-second-list>-->

<header class="wrapper-header">
  <h1>Angular test</h1>
  <nav class="main-nav">
    <a routerLink="/userForm" routerLinkActive="active">User form</a>
    <a routerLink="/toDoList" routerLinkActive="active">To do list</a>
    <a routerLink="/heroes" routerLinkActive="active">Tour of heroes</a>
    <a routerLink="/forTest" routerLinkActive="active">For test</a>
</nav>
  </header>
<router-outlet></router-outlet>



